
.title-section {
  background-color: #ff4c68;
  color: #fff;
}

h1{
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 800;
  margin-top: 16%;
}
.container-fluid{
  padding: 3% 15%
}
.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
.navbar{
  padding:0 0 1rem;
}
.navbar-item{
  padding: 0 18px;
}
.download-button{
  margin: 5% 3% 5% 0;
}
.img-show{
  margin-top: 2%;
}
.features{
  background-color: #fff;
  padding: 7% 15%;
}
.feature-box{
  text-align: center;
  padding: 5%;
}
h3{
  font-family: 'Montserrat-Black', sans-serif;
}
p{
  color: #8f8f8f;
}
.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color:  #ff4c68;
}

.testimonial{

  text-align: center;
  background-color:  #ff4c68;
  color: #fff;
}
h2{
  font-family:  'Montserrat-Bold', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}
.img-testimonial{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
.press{
  text-align: center;
    background-color:  #ff4c68;
    padding-bottom: 3%;
}
.img-press{
  width: 25%;
  margin: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 15%;

}
#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-column{
  padding: 3% 2%;
}
.cta{
  background-color: #ff4c68;
  text-align: center;
  color: #fff;
  padding: 7% 15%;
}
.cta-heading{
  font-family: 'Montserrat-Black', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}
#foot{
  padding: 7% 15%;
  text-align: center;
}
.icon-social{
  margin: 20px 10px;
}
@media (max-width:1020px){
  .title-section{
    text-align: center;
  }
}
